.my-list-title {
    margin-bottom: 0;
    font-family: 'DM Sans', sans-serif;
    color: var(--white-text);
    font-weight: bolder;
    flex-grow: 1;
    text-align: center;
    margin-right: 10%;
}

.mylist-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5%;
    padding-top: 1.5%;
    padding-left: 1.5%;
    flex-wrap: wrap;
    background-color: var(--surface-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.list-main-area {
    padding-top: 100px;
    height: 100vh;
    overflow-y: auto;
}

/* Style the default state of the scrollbar */
.list-main-area::-webkit-scrollbar {
    width: 7px; /* Width of the scrollbar */
    height: 7px; /* Height of the scrollbar (for horizontal scrolling) */
    background: transparent; /* Initially transparent scrollbar */
}

.list-main-area::-webkit-scrollbar-track {
    background: transparent; /* Initially transparent track */
}

.list-main-area::-webkit-scrollbar-thumb {
    background: transparent; /* Initially transparent thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
}

.list-main-area:hover::-webkit-scrollbar-thumb {
    background-color: #9a999c; /* Replace with your desired color */
}

.list-main-area:hover::-webkit-scrollbar-track {
    background-color: transparent; /* Replace with your desired color */
}

/* Mobile Phones */
@media (max-width: 767px) {
    .list-main-area {
        padding-top: 90px;
    }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    .list-main-area {
        padding-top: 95px;
    }
}

/* Desktops */
@media (min-width: 1024px) {
    .list-main-area {
        padding-top: 110px;
    }
}

.button-back-mylist {
    background-color: #E63946;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 8px;
}

.button-back-mylist:hover .button-add-friend-suggestions-list:hover {
    background-color: #D52B1E;
}

.loading-container-my-list {
    width: 20%;
    margin-left: 40%;
    margin-top: 10%;
}

.No-Movie-Collection-yet {
    font-size: 30px;
    padding-top: 3%;
    margin-left: 40%;
}

.no-data-yet-my-list {
    width: 40%;
    margin-left: 30%;
}