.my-list-title {
    margin-bottom: 0;
    font-family: 'DM Sans', sans-serif;
    color: var(--white-text);
    font-weight: bolder;
    flex-grow: 1;
    text-align: center;
    margin-right: 10%;
}

.mylist-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5%;
    padding-top: 1.5%;
    padding-left: 1.5%;
    flex-wrap: wrap;
    background-color: var(--surface-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.list-main-area {
    padding-top: 100px; /* Adjust based on your header's actual height */
    height: 100vh;
    overflow-y: auto; /* Adds a scrollbar to this area */
}

/* Mobile Phones */
@media (max-width: 767px) {
    .list-main-area {
        padding-top: 90px; /* Adjust for mobile screens */
    }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    .list-main-area {
        padding-top: 95px; /* Adjust for tablet screens */
    }
}

/* Desktops */
@media (min-width: 1024px) {
    .list-main-area {
        padding-top: 110px; /* Adjust for desktop screens */
    }
}