# Created by https://www.toptal.com/developers/gitignore/api/react
# Edit at https://www.toptal.com/developers/gitignore?templates=react

*.class
.vscode

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*
.idea

*.iml
.gradle
build/

node_modules
bower_components

*.sublime*

psd
thumb
sketch

# End of https://www.toptal.com/developers/gitignore/api/react
.vercel

**/.aws-sam
samconfig.toml
