.Cards {
    font-family: sans-serif;
}

.movie-container {
    width: 100%;
    overflow-x: scroll;
    display: flex;
}

.movie-container::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: transparent;
}

.movie-container::-webkit-scrollbar-track {
    background: transparent;
}

.movie-container::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
}

.movie-container:hover::-webkit-scrollbar {
    background: transparent;
}

.movie-container:hover::-webkit-scrollbar-track {
    background: transparent;
}

.movie-container:hover::-webkit-scrollbar-thumb {
    background: #9a999c;
}

.container {
    width: 205px;
}

.card {
    width: 100%;
}

.card-name {
    text-align: left;
}