@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&display=swap');

.movie-grid-genre-page {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
    margin-left: -1.5%;
}

.main-content-area-GenrePage {
    flex-grow: 1;
    overflow-x: auto;
    margin-left: 14.50rem;
    margin-top: 6px;
}

.genre-heading-GenreMoviePage {
    font-family: 'DM Sans', sans-serif;
    color: var(--white-text);
    font-weight: 1000;
    margin-bottom: -18.5px;
    margin-left: 30px;
    margin-top: 18px;
}

.load-more-button-genre-page {
    background-color: #d01528;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bolder;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.load-more-button-genre-page:hover,
.load-more-button-genre-page:focus {
    background-color: rgba(208, 21, 40, 0.77);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.load-more-button-genre-page:active {
    background-color: #d01528;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.load-more-container-genre-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 20px;
}