@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&display=swap');

.movie-grid-genre-page {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 11px;
    padding: 20px;
    margin-left: -1.5%;
}

.genre-results-container {
    display: flex;
    align-items: left;
    justify-content: left;
    padding-left: 1.2%;
    padding-bottom: 0.5%;
    background-color: var(--background-color);
    overflow-y: auto;
    gap: 20%;
    opacity: 1;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.results-container ::-webkit-scrollbar {
    display: none;
}
.main-content-area-GenrePage {
    flex-grow: 1;
    overflow-x: auto;
    margin-left: 14.50rem;
    margin-top: 6px;
}

.genre-heading-GenreMoviePage {
    font-family: 'DM Sans', sans-serif;
    color: var(--white-text);
    font-weight: 1000;
    margin-bottom: -18.5px;
    margin-left: 30px;
}

.load-more-container-genre-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

.generic-button-load-more {
    padding: 10px 20px; /* Padding */
    border: none; /* No border */
    border-radius: 20px; /* Rounded corners */
    text-transform: uppercase; /* Uppercase text */
    text-decoration: none; /* No text decoration */
    font-weight: bold; /* Bold text */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Transition effect for background color */
    margin-right: 10px; /* Right margin */
}

/* Back button specific style */
.button-load-more {
    background-color: var(--accent-color);
    color: var(--white-text);
}

/* Hover effect for the back button */
.button-load-more:hover {
    background-color: #D52B1E; /* Slightly darker red on hover */
}