.navbar {
    padding-left: 10px;
}

.navbar-brand img {
    margin-right: 10px;
}

.form-control {
    width: 500px;
}

.bg-navbar {
    background-color: #0f1115;
}

.search-bar-home {
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    display: flex;
    margin-left: 23%;
    margin-right: auto;
}

.search-input::placeholder {
    color: #73727a;
}
.search-input:focus {
    outline: none;
    box-shadow: 0 0 0 0.10rem #959499;
}

.profile-logo {
    color: #959499;
}
