.home-layout {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
}

.homepage-sidebar {
    width: 14rem; /* Adjust the width as needed */
    flex-shrink: 0; /* Prevents the sidebar from shrinking */
    position: fixed; /* Fix the sidebar position */
    overflow-y: auto; /* Enable vertical scrolling for sidebar if needed */
    margin-top: -9px;
}

.homepage-main-content {
    display: flex;
    flex-direction: row;
    /*padding-top: 70px;*/
    margin-top: 100px;
}

.main-content-area {
    flex-grow: 1; /* Takes the remaining space */
    overflow-x: auto; /* Enables horizontal scrolling */
    margin-left: 14.5rem; /* Same as the sidebar width */
    margin-top: 6px;
}