.home-layout {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
}

.homepage-sidebar {
    width: 14rem;
    flex-shrink: 0;
    position: fixed;
    overflow-y: auto;
    margin-top: -9px;
}

.homepage-sidebar ::-webkit-scrollbar {
    display: none;
}

.homepage-main-content {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    height: calc(100vh - 100px);
    overflow: hidden;
}

.homepage-main-content ::-webkit-scrollbar {   
    display: none;
}     

.main-content-area {
    flex-grow: 1;
    overflow-y: auto;
    margin-left: 14.5rem;
    height: 100%;
}