@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&display=swap');

.header-home {
    margin-left: 30px;
    margin-top: 18px;
    margin-bottom: 0;
    font-family: 'DM Sans', sans-serif;
    color: var(--white-text);
    font-weight: bolder;
}

.movie-grid-search {
    display: flex;
    padding: 20px 0 20px 2px;
    flex-wrap: wrap;
}

.load-more-container-search-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

.search-button-load-more {
    padding: 10px 20px; /* Padding */
    border: none; /* No border */
    border-radius: 20px; /* Rounded corners */
    text-transform: uppercase; /* Uppercase text */
    text-decoration: none; /* No text decoration */
    font-weight: bold; /* Bold text */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Transition effect for background color */
    margin-right: 10px; /* Right margin */
}

/* Back button specific style */
.button-load-more-search {
    background-color: var(--accent-color);
    color: var(--white-text);
}

/* Hover effect for the back button */
.button-load-more-search:hover {
    background-color: #D52B1E; /* Slightly darker red on hover */
}