.Cards-searched {
    font-family: sans-serif;
}

.movie-container-searched ::-webkit-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.movie-container-searched {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 11px;
    padding: 20px;
    margin-left: -1.5%;
}


.container-searched {
    width: 205px;
}

.card-searched {
    width: 100%;
}

.card-name-searched {
    text-align: left;
}
