.Cards-searched {
    font-family: sans-serif;
}

.movie-container-searched {
    -ms-overflow-style: none;
    scrollbar-width: none;
    
}

.movie-container-searched { 
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Five columns */
  gap: 15px; /* Gap between items */
}

.movie-container-searched::-webkit-scrollbar {
    display: none;
}

.container-searched {
    width: 205px;
}

.card-searched {
    width: 100%;
}

.card-name-searched {
    text-align: left;
}
