.App {
    background-color:  var(--background-color);
}


:root {
    --primary-color: #F1FAEE;
    --secondary-color: #A8DADC;
    --accent-color: #E63946;
    --text-color: #959499;
    --background-color:  #1a1820; /* Header color and sidebar color */
    --surface-color: #0f1115;  /* Background color */
    --white-text: white;
}

