.profile-component {
    text-align: center;
    color: var(--surface-color);
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
    z-index: -1;
}

.button-profile {
    color: white;
    border: 1px solid white;
    text-transform: uppercase;
    padding: 5px 20px;
    border-radius: 4px;
    background: #0F11152D;
    margin-bottom: 8%;
}

.main-container {
    padding-top: 20px;
    margin: 50px 8% 2%;
    border-radius: 20px;
    background-color: var(--surface-color);
    width: 80%;
    height: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: var(--text-color);
}


.close-button {
    margin-left: 90%;
    color: white;
    background-color: var(--surface-color);
    border-color: var(--surface-color);
    box-shadow: none;
}

.loading-container {
    width: 30%;
    margin-left: 35%;
}

.add-friend-field {
    border-color: #F1FAEE;
    border-radius: 5px;
}

.add-friend-input {
    margin-right: 30px;
    border-radius: 10px;
    background-color: rgba(224, 222, 227, 0.94);
    margin-top: 5%;
}

.user-profile-page {
    font-family: 'DM Sans', sans-serif;
    display: flex;
    margin-top: 3%;
    flex-wrap: wrap;
    height: auto;
    overflow-y: hidden;
}

.left-column, .right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.profile-slab, .add-friend-slab {
    width: 80%;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--surface-color);
    color: white;
    border: 1px solid var(--text-color);
    text-align: center;
}

.friends-list-slab {
    width: 80%;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--surface-color);
    color: white;
    border: 1px solid var(--text-color);
    text-align: center;
    max-height: 370px;
}


.back-button-profile {
    display: flex;
    margin-left: 5%;
    padding-top: 50px;
}

.profile-body {
    overflow-y: auto;
    height: 100vh;
}

/* Style the default state of the scrollbar */
.profile-body::-webkit-scrollbar {
    width: 7px; /* Width of the scrollbar */
    height: 7px; /* Height of the scrollbar (for horizontal scrolling) */
    background: transparent; /* Initially transparent scrollbar */
}

.profile-body::-webkit-scrollbar-track {
    background: transparent; /* Initially transparent track */
}

.profile-body::-webkit-scrollbar-thumb {
    background: transparent; /* Initially transparent thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
}

.profile-body:hover::-webkit-scrollbar-thumb {
    background-color: #9a999c; /* Replace with your desired color */
}

.profile-body:hover::-webkit-scrollbar-track {
    background-color: transparent; /* Replace with your desired color */
}


.No-friends-yet {
    font-size: 30px;
    margin-top: 140px;
}

.friends-list-header {
    text-align: center;
}

.friends-list-container {
    max-height: 260px;
    overflow-y: auto;
    overflow-x: hidden;
}

.button-add-friend-profile {
    background-color: #E63946;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 7%;
    font-size: 13px;
}