.header-mylist {
    margin-left: 30px;
    /*margin-top: 18px;*/
    margin-bottom: 0;
    font-family: 'DM Sans', sans-serif;
    color: var(--white-text);
    font-weight: bolder;
}

.button-add-friend-suggestions-list {
    background-color: #E63946;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 7%;
    font-size: 13px;
}