@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&display=swap');

.detail-page-layout {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

/* Main wrapper for the detail page */
.detail-page-wrapper {
    max-width: 2550px; /* Maximum width of the content */
    min-width: 320px; /* Minimum width for mobile responsiveness */
    overflow-x: auto; /* Enable horizontal scrolling for smaller screens */
    margin: auto; /* Center align the content */
    position: relative; /* Positioning context for child elements */
    padding: 10px; /* Padding around the content */
    font-family: 'DM Sans', sans-serif; /* Font family for the text */
    color: var(--white-text); /* Text color */
    background-color: #0f1115; /* Background color, can be overridden by an image */
    min-height: 100vh; /* Full viewport height */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-size: cover; /* Adjusts the size of the background image */
    background-attachment: fixed; /* Ensures the image scrolls with the page */
    width: 100%;
    height: 100%;
}

/* Background styling */
.detail-movie-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; /* Position to cover the entire parent element */
    z-index: 0; /* Layered behind all other content */
    background-size: cover; /* Background image covers the entire element */
    background-position: center; /* Centers the background image */
    opacity: 0.5; /* Opacity for the background image */
}

/* Overlay for the background image */
.detail-movie-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; /* Position to cover the entire parent element */
    background-color: rgba(0, 0, 0, 0.88); /* Semi-transparent black overlay */
    z-index: 1; /* Above the background, below the content */
    background-attachment: fixed; /* Overlay stays fixed during scrolling */

}

/* Container for movie details */
.detail-movie-container {
    position: relative; /* Positioning context for child elements */
    z-index: 2; /* Above the overlay */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align children to the left */
    gap: 20px; /* Spacing between child elements */
    padding-left: 28%; /* Space for the poster */
}

/* Styling for the movie poster */
.detail-movie-poster {
    position: absolute;
    top: 80px;
    left: 10px; /* Positioning */
    width: 25%; /* Width relative to the container */
    max-width: 680px;
    min-width: 120px; /* Maximum and minimum width */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Shadow for depth */
    z-index: 3; /* Above the overlay */
}

/* Movie title styling */
.detail-movie-title {
    font-size: 3.75rem; /* Font size */
    color: var(--white-text); /* Text color */
    max-width: 90%; /* Maximum width */
    margin-bottom: 0px; /* Top margin */
    margin-top: 0px; /* Top margin */
}

/* Container for movie information like rating, year, etc. */
.detail-movie-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 0px; /* Right margin */
    margin-top: 0px; /* Top margin */
    margin-bottom: 0px; /* Top margin */
}

/* Star icon for user rating */
.detail-star-icon {
    width: 30px;
    height: 30px; /* Size of the icon */
}

/* Shared styles for rating and year */
.detail-rating, .detail-year {
    font-size: 1rem; /* Font size */
    color: var(--white-text); /* Text color */
    background: rgb(47, 45, 45); /* Background color */
    padding: 5px 10px; /* Padding */
    border-radius: 4px; /* Rounded corners */
    margin-left: 10px; /* Left margin for spacing */
}

/* Additional shared styles for different ratings */
.detail-movie-rating-box, .detail-movie-USERrating, .detail-movie-MPArating {
    font-size: 1rem; /* Font size */
    color: var(--white-text); /* Text color */
    background: rgb(47, 45, 45); /* Background color */
    padding: 5px 10px; /* Padding */
    border-radius: 4px; /* Rounded corners */
    margin-left: 10px; /* Left margin for spacing */
}

/* Movie overview styling */
.detail-movie-overview {
    font-size: 1.1rem; /* Font size */
    line-height: 1.35; /* Line height */
    text-align: left; /* Text alignment */
    color: var(--white-text); /* Text color */
    max-width: 90%; /* Maximum width */
    margin-bottom: 0px; /* Bottom margin */
    margin-top: 0px; /* Top margin */
    padding: 0px 0px; /* Padding */
}

/* Movie runtime styling */
.detail-movie-runtime {
    font-size: 1rem; /* Font size */
    color: var(--white-text); /* Text color */
    background: rgb(47, 45, 45); /* Background color */
    padding: 5px 10px; /* Padding */
    border-radius: 4px; /* Rounded corners */
    margin-left: 10px; /* Left margin for spacing */
}

/* Cast and director styling */
.detail-movie-cast, .detail-movie-director {
    color: var(--gray-text); /* Text color */
    font-size: 1rem; /* Font size */
    line-height: 1.35; /* Line height */
    max-width: 90%; /* Maximum width */
    margin-top: 0px; /* Top margin */
}

/* Styling for cast and director titles */
.detail-cast-title, .detail-director-title {
    display: inline-block; /* Display inline with block properties */
    margin-right: 10px; /* Right margin */
    font-weight: bold; /* Bold text */
}

/* User rating box styling */
.detail-user-rating-box {
    font-size: 1rem; /* Font size */
    display: flex; /* Flex display */
    align-items: center; /* Center align items */
    background: rgb(47, 45, 45); /* Background color */
    padding: 5px 10px; /* Padding */
    border-radius: 4px; /* Rounded corners */
}

/* User rating star icon styling */
.detail-user-rating-star {
    width: 20px;
    height: 20px; /* Size of the icon */
    margin-right: 5px; /* Right margin */
}

/* Movie genre list styling */
.detail-movie-genre-list {
    font-size: 1rem; /* Font size */
    color: var(--gray-text); /* Text color */
    margin-top: 0px; /* Top margin */
    margin-bottom: 0px; /* Bottom margin */
    padding: 0px 0px; /* Padding */
}

/* Font styling for "Starring:" and "Director:" */
.detail-cast-title, .detail-director-title {
    color: var(--white-text); /* Set labels to white */
    font-weight: bold; /* Make labels bold */
    margin-top: 0px; /* Top margin */
    margin-bottom: 0px; /* Bottom margin */
    padding: 0px 0px; /* Padding */
}

/* Generic button styling reused across different buttons */
.generic-button {
    padding: 7px 20px; /* Padding */
    border: none; /* No border */
    border-radius: 20px; /* Rounded corners */
    text-transform: uppercase; /* Uppercase text */
    text-decoration: none; /* No text decoration */
    font-weight: bold; /* Bold text */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Transition effect for background color */
    margin-right: 20px; /* Right margin */
    background-color: var(--accent-color);
    color: var(--white-text);
}

/* Back button specific style */
.button-back {
    position: absolute;
    top: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    background-color: var(--accent-color);
    color: var(--white-text);
}

.added-to-watchlist {
    background-color: green;
}

.detail-done-after-suggesting-friend-button {
    background-color: green;
}

/* Watchlist button styles */
.button-watchlist,
.button-friends-watchlist
.button-add-friend-suggestions-list{
    /*background-color: var(--button-bg-color);*/
    color: var(--button-text-color);
}

/* Hover effect for buttons */
.generic-button:hover {
    filter: brightness(85%);
}

/* Specific styling for the back button */
.button-back {
    background-color: #E63946; /* Red background */
    color: #FFFFFF; /* White text */
    padding: 10px 20px; /* Padding */
    border-radius: 20px; /* Rounded corners */
    text-transform: uppercase; /* Uppercase text */
    text-decoration: none; /* No text decoration */
    font-weight: bold; /* Bold text */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Transition effect for background color */
}

/* Hover effect for the back button */
.button-back:hover .button-add-friend-suggestions-list:hover {
    background-color: #D52B1E; /* Slightly darker red on hover */
}

/* Container for buttons */
.button-container {
    display: flex; /* Flex display */
    align-items: center; /* Center align items */
    margin-top: 0px; /* Top margin */
}

.detail-done-button {
    margin-left: 3%;
    border-radius: 40px;

}

.add-to-friendList-field {
    display: flex;
    color: black;
}

.select-friend-detail {
    width: 300px;
    margin-top: 1%;
    color: black;
}

.css-1fdsijx-ValueContainer {
    background-color: rgba(224, 222, 227, 0.94) !important;
}

.css-1xc3v61-indicatorContainer {
    background-color: rgba(224, 222, 227, 0.94) !important;
}

.css-tj5bde-Svg {
    color: black;
}

.css-13cymwt-control {
    background-color: rgba(224, 222, 227, 0.94) !important;
}

.css-15lsz6c-indicatorContainer hover {
    color: rgba(224, 222, 227, 0.94) !important;
}

/* Trailers and clips section header styling */
.trailers-and-clips h2 {
    color: var(--white-text); /* Text color */
    font-size: 1rem; /* Font size */
    margin-top: 0rem; /* Top margin */
    margin-bottom: 1rem; /* Bottom margin */
}

/* Videos section styling */
.videos {
    display: flex; /* Flex display */
    flex-wrap: wrap; /* Wrap content */
    gap: 1rem; /* Gap between videos */
}

/* Video iframe styling */
.video-iframe {
    border-radius: 15px; /* Rounded corners */
    margin-bottom: 20px; /* Bottom margin */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
}

/* Watch on services section header styling */
.watch-on-services h2 {
    color: var(--white-text); /* Text color */
    font-size: 1rem; /* Font size */
}

/* Services container styling */
.services-container {
    display: flex; /* Flex display */
    flex-wrap: wrap; /* Wrap content */
    gap: 10px;
    /* Add more styles as needed */
}

.service img {
    width: 50px; /* Adjust as needed */
    height: auto;
    border-radius: 10px; /* Rounded corners */
    /* Add more styles as needed */
}

.loading-container-detail-page {
    width: 6%;
    margin-left: 10%;
    margin-right: 10%;

}
